services:
  mongo:
    image: mongo:7
    container_name: mongo-local
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  franchise-api:
    build: .
    container_name: franchise-api
    ports:
      - "8080:8080"
    environment:
      - MONGODB_URI=mongodb://mongo:27017/franchise-db
    depends_on:
      - mongo

volumes:
  mongo-data:
